<!DOCTYPE html> 

<html>

<head>
    <script src="javascript/game.js" defer></script>
    <script src="javascript/messages.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<h1> Tic Tac Toe </h1>

<table class = "noselect no-spacing">
<% for (let row = 0; row < 3; row++) { %> 
    <tr>
    <% for (let col = 0; col < 3; col++) {%> 
        <td id = "s<%= row*3 + col%>">  </td>
    <% } %> 
    </tr>
<% }%>
</table>

<span> Change size: </span><input type="range" min="50" max="100" value="50" class="slider" id="sizeSlider">
<p id="gameStatus"> Waiting for another player...</p>
<p id="turnStatus"> Turn undecided... </p>
<span id="resetArea"> </span>


</body>

</html>