<!DOCTYPE html>
<html>
  <head>
    <title>hello</title>
    <link rel='stylesheet' href='/css/splash.css' />
  </head>
  <body>
    <header>
      <h1>TU Delft: <span style="color:black">Chess</span> of Technical Difficulties</h1>
    </header>
    <main>
      <section id = "info">
        <p> Ongoing games: <span style="color:orange"><%= ongoingGames %></span></p>
        <p> White win percentage: <span style="color:orange">
          <% let winDisplay = "" %>
          <% if (blackWins + whiteWins != 0) {winDisplay = whiteWins*100 / (blackWins + whiteWins) + "%";} else {winDisplay = "N/A";} %>
          <%= winDisplay %>
        </span></p>
        <p> Number of players: <span style="color:orange"><%= numOfPlayers %></span></p>
        <button onclick="window.location.replace('/play')"> Join a game...</button>
      </section>

      <section id="images">
        <img id="logo" src="/logo.svg" />
        <img id="preview" src="Preview.png"/>
      </section>
    </main>
  </body>
</html>
